.chart-panel {
  max-width: 800px;
  margin: auto;
  background: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 5px 25px rgba(0,0,0,0.05);
}

.dropdowns {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 1rem;
}

select {
  padding: 0.4rem 1rem;
  font-size: 1rem;
  border-radius: 8px;
  border: 1px solid #ddd;
}
  